<flynt-component load:on="visible" name="BlockPostHeader">
  <div class="wrapper max-w-screen-xl mx-auto boxed flex flex-col-reverse lg:flex-row gap-md lg:gap-xl">
    <div class="h-auto lg:h-auto lg:w-1/2 grow flex flex-col justify-start gap-sm">
      <div class="pr-xl">
        <div class="mb-md">{{ post.category }}</div>
        <div class="font-h2Post mb-md">{{ post.title }}</div>
        <div class="mb-lg lg:mb-xl">{{ post.intro|e('wp_kses_post') }}</div>
      </div>
      <div class="">{{ post.mainText|e('wp_kses_post') }}</div>
    </div>
    {% if post.thumbnail %}
      <div class="featuredImage lg:w-1/2 h-full">
        <img class="lazyload object-cover"
          src="{{ post.thumbnail.src }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
          data-sizes="auto">
      </div>
    {% endif %}
  </div>
</flynt-component>
